<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">My Restaurant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto font-weight-bold">
        <li class="nav-item active">
            <a class="nav-link mx-3" href="#">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="#">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="#">Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="#">Contact</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="btn btn-danger btn-rounded mx-2" href="#">Welcome {{user.username|title}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu btn-rounded dropdown-menu-right wider-dropdown" aria-labelledby="navbarDropdown">
                    <small class="ml-3">Currently in</small>
                <a class="dropdown-item" href="#">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2 my-auto">
                                <button class="btn btn-light btn-sm rounded-button font-weight-bold">{{user.username|make_list|first|title}}</buuton>
                            </div>
                            <div class="col-10">
                                <p class="my-o text-dark font-weight-bold">{{user.username}}</p>
                                <small class="my-0 text-secondary">Personal</small><br>   
                                <small class="my-0 text-secondary">{{user.email}}</small>                             
                            </div>
                        </div>
                    
                    </div>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="btn btn-danger btn-rounded rounded-pill mx-3 font-weight-bold"data-toggle="modal" data-target="#LoginModal" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light btn-rounded mx-3 font-weight-bold" data-toggle="modal" data-target="#exampleModal" href="#">Sign Up</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>