<nav id="sidebar">
    <div class="sidebar-header">
        <a class="navbar-brand text-danger font-weight-bold" href="#">
            <a class="navbar-brand text-info font-weight-bold text-dark font-weight-bolder base" href="#" style="font-family:cursive;">MY RESTAURANT</a>
        </a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="{% url 'dashboard' %}" class="text-light">
                <i class="fa fa-tachometer mr-3"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'staff' %}" class="text-light">
                <i class="fa fa-user mr-3"></i>
                Staff
            </a>
        </li>
        <li>
            <a href="{% url 'categories' %}" class="text-light">
                <i class="fa fa-users mr-3"></i>
                Categories
            </a>
        </li>
        <li>
            <a href="{% url 'tables' %}" class="text-light">
                <i class="fa fa-table mr-3"></i>
                Table
            </a>
        </li>
        <li>
            <a href="{% url 'reservations' %}" class="text-light">
                <i class="fa fa-ticket mr-3" aria-hidden="true"></i>
                Reservation
            </a>
        </li>
        <li>
            <a href="{% url 'orders' %}" class="text-light">
                <i class="fa fa-first-order mr-3"></i>
                Order
            </a>
        </li>
        <li>
            <a href="{% url 'menu' %}" class="text-light">
                <i class="fa fa-bars mr-3"></i>
                Menu
            </a>
        </li>
        <li>
            <a href="#" class="text-light">
                <i class="fa fa-commenting mr-3"></i>
                OrderMenu
            </a>
        </li>
        <li>
            <a href="#" class="text-light">
                <i class="fa fa-credit-card mr-3"></i>
                Payment
            </a>
        </li>
        <li>
            <a href="#" class="text-light">
                <i class="fa fa-truck mr-3"></i>
                Delivery
            </a>
        </li>
        <li>
            <a href="#" class="text-light">
                <i class="fa fa-sort mr-3"></i>
                OrderDelivery
            </a>
        </li>
        <li>
            <a href="#" class="text-light">
                <i class="fa fa-star mr-3"></i>
                Review
            </a>
        </li>
    </ul>
    
</nav>
